/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.hero_single.version_2:before {
    background: url(../Tourist\ sites\ Images/Mountain\ Afadjato/Mount-afadjato-2.jpg);
    /* background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    ; */

}

.hero_in.tours:before {
    background: url(../Tourist\ sites\ Images/Mountain\ Afadjato/Mount-afadjato-2.jpg);
    /* background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    ; */
}